* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: campton-bold;
  src: url(../public/fonts/Campton-Bold.ttf);
}

@font-face {
  font-family: campton-book;
  src: url(../public/fonts/Campton-Book.ttf);
}

@font-face {
  font-family: campton-light;
  src: url(../public/fonts/Campton-Light.ttf);
}

@font-face {
  font-family: made-bold;
  src: url(../public/fonts/made_outer_sans_bold-webfont.ttf);
}

@font-face {
  font-family: made-bold;
  src: url(../public/fonts/made_outer_sans_bold-webfont.ttf);
}

@font-face {
  font-family: made-light;
  src: url(../public/fonts/made_outer_sans_light-webfont.ttf);
}

@font-face {
  font-family: made-regular;
  src: url(../public/fonts/made_outer_sans_regular-webfont.ttf);
}

*{
  margin: 0;
  padding: 0;
}