.customers{
padding-inline-start: 12rem;
padding-inline-end: 12rem;
}

.customer_text_h2{
color: rgb(223, 159, 113);
position: static;
font-size: 36px;
font-family: "made-regular", sans-serif;
font-weight: 600;
line-height: 43.2px;
text-align: center;
margin: 0px 0px 16px;
}

.customer__carousel{
 display: flex;
 justify-content: center;   
}

.carousel-content__p{
color: rgb(26, 32, 44);
position: static;
font-size: 16px;
font-family: "campton-light", sans-serif;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.carousel-content_h2{
color: rgb(223, 159, 113);
position: static;
font-size: 20px;
font-family: "made-regular", sans-serif;
font-weight: 600;
line-height: 24px;
text-align: center;
text-transform: uppercase;
}

.carousel-content__p2{
color: rgb(26, 32, 44);
position: static;
font-size: 16px;
font-family: "campton-light", sans-serif;
font-weight: 400;
line-height: 24px;
margin: 8px 0px 0px; 
}